<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ base_path() }}/css/template.css">
    <link rel="stylesheet" href="{{ base_path() }}/css/grid.css">
</head>
<body>

    <div class="rd-container">
        <div class="rd-element rd-s-100 t-center">
            <h1>Home Slim 4</h1>
        </div>
    </div>

<script src="{{ base_path() }}/js/template.js"></script>
</body>
</html>